# Fundamental Trend Analysis
This notebook contains code for extracting fundamental data from an API and decomposing the series using the statsmodels library.

In [1]:
import pandas as pd
from datetime import date
from datetime import timedelta
import plotly.graph_objects as go

import requests
import json
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker

import numpy as np
from IPython.display import clear_output
import time
# Set plot space as inline for inline plots and qt for external plots
%matplotlib inline

In [2]:
# Obtain the API credentials from an external hidden file

from fmppassword import api_key

In [3]:
# Obtain today's date
today = date.today()

## 1. Obtain the Raw Data From the API

In [4]:
# A function to obtain fundamental data over time

#Utilizing "UniBit API" by Vincent Jiang
#Site: https://unibit.ai/product

#Errors may occur if credits run out, add an error code check to this function

def retrieve_ticker_fundamental_info(statement_type, ticker, interval):
    
    # A condition to set the interval
    if interval == "Q":
        interval = "?period=quarter"
    else:
        interval = None
    
    url = 'https://financialmodelingprep.com/api/v3/{}/{}{}&apikey={}'.format(statement_type, ticker, interval, api_key)
    response = requests.get(url)
    
    if response.status_code != 200:
        print("The response status code is: " + str(response.status_code))
        return None
    
    return response.json()

In [5]:
ticker = 'LOW'

# Interval can be Annual (A), Quarterly (Q), or Trailing 12 Month (TTM)
interval = 'Q'

# Statement type can be: "income-statement-as-reported" (Income Statement),
#                        "balance-sheet-statement-as-reported" (Balance Sheet),
#                        "cash-flow-statement-as-reported" (Cash Flow),
#                        or "financial-statement-as-reported" (All Statements).
statement_type = 'income-statement-as-reported'

fundamental_data = retrieve_ticker_fundamental_info(statement_type, ticker, interval)

In [7]:
def retrieve_fundamental_data_dataframe(ticker, fundamental_data):
    
    data_frame = pd.DataFrame(fundamental_data)
    
    # Set the index to the 'date' column
    data_frame.set_index('date', inplace = True)
    
    data_frame.sort_index(inplace=True)
    
    return data_frame

In [22]:
low_df = retrieve_fundamental_data_dataframe(ticker, fundamental_data)
#print(low_df.columns)
low_df[['symbol', 'period','interestrevenueexpensenet', 'revenuefromcontractwithcustomerexcludingassessedtaxpercentage', 'revenuefromcontractwithcustomerexcludingassessedtax', 'operatingexpenses', 'salesrevenuenet', 'salesrevenuenetpercent']]

,symbol,period,interestrevenueexpensenet,revenuefromcontractwithcustomerexcludingassessedtaxpercentage,revenuefromcontractwithcustomerexcludingassessedtax,operatingexpenses,salesrevenuenet,salesrevenuenetpercent
date,,,,,,,,
2010-01-29,LOW,FY,NaN,NaN,NaN,1.363800e+10,4.722000e+10,1.0
2011-10-28,LOW,Q3,-91000000.0,NaN,NaN,3.684000e+09,1.185100e+10,0.0
2012-02-03,LOW,FY,-102000000.0,NaN,NaN,3.494000e+09,1.162900e+10,0.0
2012-05-04,LOW,Q1,-103000000.0,NaN,NaN,3.714000e+09,1.315300e+10,1.0
2012-08-03,LOW,Q2,-96000000.0,NaN,NaN,3.638000e+09,1.424900e+10,0.0
2012-11-02,LOW,Q3,-114000000.0,NaN,NaN,3.508000e+09,1.207300e+10,0.0
2013-02-01,LOW,FY,-110000000.0,NaN,NaN,3.330000e+09,1.104600e+10,0.0
2013-05-03,LOW,Q1,-113000000.0,NaN,NaN,3.687000e+09,1.308800e+10,1.0
2013-08-02,LOW,Q2,-110000000.0,NaN,NaN,3.890000e+09,1.571200e+10,0.0
2013-11-01,LOW,Q3,-125000000.0,NaN,NaN,3.683000e+09,1.295700e+10,0.0
2014-01-31,LOW,FY,-128000000.0,NaN,NaN,3.543000e+09,1.166000e+10,0.0
2014-05-02,LOW,Q1,-124000000.0,NaN,NaN,3.816000e+09,1.340300e+10,1.0
2014-08-01,LOW,Q2,-126000000.0,NaN,NaN,4.041000e+09,1.659800e+10,0.0
2014-10-31,LOW,Q3,-134000000.0,NaN,NaN,3.765000e+09,1.368100e+10,0.0
2015-01-30,LOW,FY,-132000000.0,NaN,NaN,3.660000e+09,1.254100e+10,0.0
2015-05-01,LOW,Q1,-134000000.0,NaN,NaN,3.914000e+09,1.412900e+10,1.0
2015-07-31,LOW,Q2,-133000000.0,NaN,NaN,4.141000e+09,1.734900e+10,0.0
2015-10-30,LOW,Q3,-142000000.0,NaN,NaN,3.803000e+09,1.436000e+10,0.0
2016-01-29,LOW,FY,-143000000.0,NaN,NaN,4.293000e+09,1.323600e+10,0.0
2016-04-29,LOW,Q1,-156000000.0,NaN,NaN,3.907000e+09,1.523400e+10,1.0
2016-07-29,LOW,Q2,-167000000.0,NaN,NaN,4.404000e+09,1.826000e+10,0.0
2016-10-28,LOW,Q3,-163000000.0,NaN,NaN,4.630000e+09,1.573900e+10,0.0
2017-02-03,LOW,FY,-159000000.0,NaN,NaN,NaN,1.578400e+10,0.0
2017-05-05,LOW,Q1,-161000000.0,NaN,NaN,NaN,1.686000e+10,1.0
2017-08-04,LOW,Q2,-158000000.0,NaN,NaN,NaN,1.949500e+10,0.0
2017-11-03,LOW,Q3,-160000000.0,NaN,NaN,NaN,1.677000e+10,0.0
2018-02-02,LOW,FY,-154000000.0,NaN,NaN,NaN,1.549400e+10,0.0
2018-05-04,LOW,Q1,-160000000.0,NaN,NaN,NaN,1.736000e+10,1.0
2018-08-03,LOW,Q2,-153000000.0,NaN,NaN,NaN,NaN,0.0
2018-11-02,LOW,Q3,-154000000.0,NaN,1.741500e+10,NaN,NaN,0.0
2019-02-01,LOW,FY,-157000000.0,NaN,1.564700e+10,NaN,NaN,0.0
2019-05-03,LOW,Q1,-162000000.0,NaN,1.774100e+10,NaN,NaN,1.0
2019-08-02,LOW,Q2,-169000000.0,NaN,2.099200e+10,NaN,NaN,NaN
2019-11-01,LOW,Q3,-177000000.0,0.0,1.738800e+10,NaN,NaN,NaN
2020-01-31,LOW,FY,-183000000.0,NaN,1.602700e+10,NaN,NaN,NaN
2020-05-01,LOW,Q1,-205000000.0,1.0,1.967500e+10,NaN,NaN,NaN
2020-07-31,LOW,Q2,-218000000.0,0.0,2.730200e+10,NaN,NaN,NaN