# Obtain and Append Data

This notebook contains code to obtain and append financial data to avoid going over API request limits.

In [1]:
import pandas as pd
from datetime import date
from datetime import timedelta
import plotly.graph_objects as go

import requests
import json
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker

import numpy as np
from IPython.display import clear_output
import time
# Set plot space as inline for inline plots and qt for external plots
%matplotlib inline

In [2]:
import platform
print(platform.python_version())

3.8.3

In [3]:
# Obtain the API credentials from an external hidden file

from passwords import api_key

In [4]:
# A function to obtain price history

#Utilizing "UniBit API" by Vincent Jiang
#Site: https://unibit.ai/product

#Errors may occur if credits run out, add an error code check to this function

def retrieve_ticker_price_info(ticker, start_date, end_date = False):
    
    # Obtain today's date
    today = date.today()
    
    # A condition to set the end date to today if there is no end date given
    if not end_date:
        end_date = today
    
    
    url = 'https://api.unibit.ai/v2/stock/historical/?tickers={}&interval=1&startDate={}&endDate={}&selectedFields=all&dataType=json&accessKey={}'.format(ticker, start_date, end_date, api_key)
    
    response = requests.get(url)
    
    if response.status_code != 200:
        print("The response status code is: " + str(response.status_code))
        return None
    
    return response.json()

In [5]:
def retrieve_price_history_dataframe(ticker, ticker_price_history):
    
    data_frame = pd.DataFrame(ticker_price_history['result_data'][ticker])
    
    # Set the index to the 'date' column
    data_frame.set_index('date', inplace = True)
    
    data_frame.sort_index(inplace=True)
    
    return data_frame

In [8]:
today = date.today()
a_year_ago = str(date.today() - timedelta(days=1*365))

## Obtain Original Data from the API

In [9]:
# The S&P 500 company ticker is ^GSPC

# Obtain the price info
inx_info = retrieve_ticker_price_info('^GSPC', a_year_ago)

# Create and view the dataframe
inx_df = retrieve_price_history_dataframe('^GSPC', inx_info)
inx_df.head()

                volume     high      low  adj_close    close     open
date
2019-07-22  3003720000  2990.71  2976.65    2985.03  2985.03  2981.93
2019-07-23  3313660000  3005.90  2988.56    3005.47  3005.47  2994.74
2019-07-24  3428980000  3019.59  2996.82    3019.56  3019.56  2998.77
2019-07-25  3645270000  3016.31  2997.24    3003.67  3003.67  3016.26
2019-07-26  3257590000  3027.98  3012.59    3025.86  3025.86  3013.25

In [11]:
# Save the data as a csv
# Keep the index as it contains the dates
inx_df.to_csv('financial_data/GSPC.csv')

## Import a CSV of Time Series Data

This code assumes the data is in ascending order, if this is not the case then make the relevant adjustments.

In [49]:
inx_df = pd.read_csv('financial_data/GSPC.csv', index_col = 'date')

# Convert index to date
# Comment this out if the index is already date type
inx_df.index = pd.to_datetime(inx_df.index).date

inx_df.head()

                volume     high      low  adj_close    close     open
2019-07-22  3003720000  2990.71  2976.65    2985.03  2985.03  2981.93
2019-07-23  3313660000  3005.90  2988.56    3005.47  3005.47  2994.74
2019-07-24  3428980000  3019.59  2996.82    3019.56  3019.56  2998.77
2019-07-25  3645270000  3016.31  2997.24    3003.67  3003.67  3016.26
2019-07-26  3257590000  3027.98  3012.59    3025.86  3025.86  3013.25

In [50]:
# Obtain the most recent date
inx_df.index.max()

datetime.date(2020, 6, 30)

## Obtain Most Recent Data From The API

In [52]:
# Obtain the next day after the series ends, as a string
next_day_series_ends = str(inx_df.index.max() + timedelta(days=1))

In [53]:
# The S&P 500 company ticker is ^GSPC

# Obtain the price info
additional_info = retrieve_ticker_price_info('^GSPC', next_day_series_ends)

# Create and view the dataframe
additional_info_df = retrieve_price_history_dataframe('^GSPC', additional_info)
additional_info_df.head()

                volume     high      low  adj_close    close     open
date
2020-07-01  2697727407  3128.44  3101.17    3115.86  3115.86  3105.92
2020-07-02  2326767585  3165.81  3124.52    3130.01  3130.01  3143.64
2020-07-06  2380431984  3182.59  3155.29    3179.72  3179.72  3155.29
2020-07-07  2287837089  3184.15  3142.93    3145.32  3145.32  3166.44
2020-07-08  2390189825  3171.80  3136.53    3169.94  3169.94  3153.07

## Append The Original Dataframe

You can either add to the old file or create a new one

In [54]:
result = pd.concat([inx_df, additional_info_df])

In [59]:
result.tail(15)

                volume     high      low  adj_close    close     open
2020-06-26    90290800  3073.73  3004.63    3009.05  3009.05  3073.20
2020-06-29  2633408640  3053.89  2999.74    3053.24  3053.24  3018.59
2020-06-30  2757387711  3111.51  3047.83    3100.29  3100.29  3050.20
2020-07-01  2697727407  3128.44  3101.17    3115.86  3115.86  3105.92
2020-07-02  2326767585  3165.81  3124.52    3130.01  3130.01  3143.64
2020-07-06  2380431984  3182.59  3155.29    3179.72  3179.72  3155.29
2020-07-07  2287837089  3184.15  3142.93    3145.32  3145.32  3166.44
2020-07-08  2390189825  3171.80  3136.53    3169.94  3169.94  3153.07
2020-07-09  2597178292  3179.78  3115.70    3152.05  3152.05  3176.17
2020-07-10  2407407212  3186.82  3136.22    3185.04  3185.04  3152.47
2020-07-13  2695331634  3235.32  3149.43    3155.22  3155.22  3205.08
2020-07-14  2628539056  3200.95  3127.66    3197.52  3197.52  3141.11
2020-07-15  2841976156  3238.28  3200.76    3226.56  3226.56  3225.98
2020-07-16  1718211640  3217.51  3198.59    3215.57  3217.50  3208.36
2020-07-17  2219971191  3233.52  3205.65    3224.73  3224.73  3224.21

## Save The New Dataframe

You can overwrite the old file as well

In [79]:
# Save the data as a csv
result.to_csv('financial_data/GSPC_newdata.csv', index_label = 'date')

In [82]:
# Read in the file
pd.read_csv('financial_data/GSPC_newdata.csv', index_col = 'date').tail(15)

                volume     high      low  adj_close    close     open
date
2020-06-26    90290800  3073.73  3004.63    3009.05  3009.05  3073.20
2020-06-29  2633408640  3053.89  2999.74    3053.24  3053.24  3018.59
2020-06-30  2757387711  3111.51  3047.83    3100.29  3100.29  3050.20
2020-07-01  2697727407  3128.44  3101.17    3115.86  3115.86  3105.92
2020-07-02  2326767585  3165.81  3124.52    3130.01  3130.01  3143.64
2020-07-06  2380431984  3182.59  3155.29    3179.72  3179.72  3155.29
2020-07-07  2287837089  3184.15  3142.93    3145.32  3145.32  3166.44
2020-07-08  2390189825  3171.80  3136.53    3169.94  3169.94  3153.07
2020-07-09  2597178292  3179.78  3115.70    3152.05  3152.05  3176.17
2020-07-10  2407407212  3186.82  3136.22    3185.04  3185.04  3152.47
2020-07-13  2695331634  3235.32  3149.43    3155.22  3155.22  3205.08
2020-07-14  2628539056  3200.95  3127.66    3197.52  3197.52  3141.11
2020-07-15  2841976156  3238.28  3200.76    3226.56  3226.56  3225.98
2020-07-16  1718211640  3217.51  3198.59    3215.57  3217.50  3208.36
2020-07-17  2219971191  3233.52  3205.65    3224.73  3224.73  3224.21