# Time Series Modeling Examples

In [1]:
import pandas as pd
from datetime import date
from datetime import timedelta
import plotly.graph_objects as go

import requests
import json
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import matplotlib.ticker as ticker

import numpy as np
from IPython.display import clear_output
import time


# Set plot space as inline for inline plots and qt for external plots
%matplotlib inline

from statsmodels.tsa.seasonal import seasonal_decompose

## Read in the Data

In [2]:
inx_df = pd.read_csv('financial_data/GSPC_newdata.csv')
inx_df.head()

         date      volume     high      low  adj_close    close     open
0  2019-07-22  3003720000  2990.71  2976.65    2985.03  2985.03  2981.93
1  2019-07-23  3313660000  3005.90  2988.56    3005.47  3005.47  2994.74
2  2019-07-24  3428980000  3019.59  2996.82    3019.56  3019.56  2998.77
3  2019-07-25  3645270000  3016.31  2997.24    3003.67  3003.67  3016.26
4  2019-07-26  3257590000  3027.98  3012.59    3025.86  3025.86  3013.25

## Make the Data Stationary

In [4]:
# Obtain the three series

# frequency detection error: https://github.com/statsmodels/statsmodels/issues/3503
decomposition = seasonal_decompose(inx_df['adj_close'], model='multiplicative', period = 5)

trend = decomposition.trend
seasonal = decomposition.seasonal
residual = decomposition.resid